.App {
  text-align: center;
}

.header {
  background-color: #00284d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-style: italic;
  font-weight: 900;
}

.label {
  margin: 30px;
  display: block;
}

.input {
  width: 50%;
  margin: 30px;
  display: block;
}